/* CSS customization no related to the timesheet itself */
/********************************************************/
body
{
  font-family: Verdana,sans-serif;	
}

h1
{
  background-color: #008AB8;
  color: white;
  text-align: center;
}

dl > dt
{
	font-weight: bold;
}

div#steps
{
	margin-left: 5em;
	margin-right: 5em;
  padding-left: 1em;
  padding-right: 1em;
  
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}
.step-label
{
	background-color: #279B61;
	color: white;
}

input#generate-test-data,
input#generate-timesheet,
input#export-to-excel
{
	 margin-left: 1em;
}

table#input-table > tbody > tr > th
{
	text-align: right;
}

table#input-data-table
{
	 margin-left: 5em;
}